.custom-card{
    background: linear-gradient(#BFD7EA,#839788);
    width:250px;
    height:400px;
    margin:1rem 1rem;
    padding:2rem 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .inline{
        display: flex;
    }
    .italic{
        font-style: italic;
    }
    h4{
        font-size:1.5rem;
    }
}
.thumb{
    margin: 1rem 1rem;
}
.thumb:before{
    content: "";
    float: left;
    width: 16px;
    height: 16px;
    height:20px;
    background: url('../assets/thumbs-up-regular.svg') no-repeat;
}

.dislikes:before{
    transform: rotate(-180deg);
}


.toggleButton, .custom-btn{
    padding: 16px 32px;
    width:50%;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.toggleButton:hover{
    background-color: #839788;
    color: white;
}

.custom-btn:hover{
    background-color: rgb(209, 78, 78);
    color: white;
}

